In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import sqlalchemy
from geoalchemy2 import Geometry, WKTElement

In [2]:
import getpass
password = getpass.getpass()

········

In [38]:
con_string = 'postgresql+psycopg2://postgres:{}@localhost:5432/dsr_db'.format(password)

In [39]:
engine = sqlalchemy.create_engine(con_string)

In [40]:
con = engine.connect()

### Boroughs

In [3]:
boros_url = 'https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Borough_Boundary_Water_Included/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson'

In [4]:
def get_boro_codea(boro_name):
    if boro_name == None or pd.isnull(boro_name):
        raise ValueError('boro_name cannot be equal to NONE')
    else:
        boro_name = boro_name.lower()
        if boro_name == 'bronx':
            boro_codea = 'X'
        elif boro_name == 'brooklyn':
            boro_codea = 'B'
        elif boro_name == 'manhattan':
            boro_codea = 'M'
        elif boro_name == 'queens':
            boro_codea = 'Q'
        elif boro_name == 'staten island':
            boro_codea = 'R'
        return boro_codea

In [ ]:
#def check_crs(gdf, desired_project):
#    ifstr(list(gdf.crs.values())[0])

In [29]:
boros = (gpd.read_file(boros_url)
         .rename(columns = {'BoroCode': 'boro_coden',
                            'BoroName': 'boro_name'})
         .drop(['OBJECTID', 'Shape__Area', 'Shape__Length'], axis = 1))

In [30]:
boros.to_crs('epsg:2263', inplace = True)

C:\Users\yankm\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [31]:
boros['boro_codea'] = boros.apply(lambda x: get_boro_codea(x['boro_name']), axis = 1)

In [32]:
boros['shape'] = boros['geometry'].apply(lambda x: WKTElement(x.wkt, srid='epsg:2263'))

In [33]:
boros = boros.drop(columns = 'geometry')

In [34]:
boros.head()

,boro_coden,boro_name,boro_codea,shape
0,2,Bronx,X,"POLYGON ((1021631.939898405 267937.4620737463,..."
1,5,Staten Island,R,"POLYGON ((968761.663191953 175990.7525371875, ..."
2,1,Manhattan,M,MULTIPOLYGON (((972081.3849243384 190736.47315...
3,3,Brooklyn,B,"POLYGON ((1004421.084089039 203546.2348150312,..."
4,4,Queens,Q,"POLYGON ((1045437.684361141 235086.312706911, ..."

In [45]:
boros.to_sql('tbl_dcp_boroughs', con, if_exists='append', index=False, 
              dtype={'shape': Geometry('MULTIPOLYGON', srid= 2263)})

StatementError: (builtins.TypeError) %d format: a number is required, not str
[SQL: INSERT INTO tbl_dcp_boroughs (boro_coden, boro_name, boro_codea, shape) VALUES (%(boro_coden)s, %(boro_name)s, %(boro_codea)s, ST_GeomFromEWKT(%(shape)s))]
[parameters: [{'boro_coden': 2, 'boro_name': 'Bronx', 'boro_codea': 'X', 'shape': <WKTElement at 0x1f636191a90; POLYGON ((1021631.939898405 267937.4620737463, 1022 ... (127970 characters truncated) ... , 1043843.75721815 231759.0187892193, 1044414.015017152 232778.4395405737, 1045272.514060515 234916.096473423, 1045437.684361141 235086.312706911))>}]]

### Community Districts

In [35]:
cdist_url = 'https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Community_Districts_Water_Included/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson'

In [36]:
cdist = gpd.read_file(cdist_url)

In [37]:
cdist.head()

,OBJECTID,BoroCD,Shape__Area,Shape__Length,geometry
0,1,311,1.641553e+08,57224.649517,"POLYGON ((-73.97497 40.61368, -73.97489 40.613..."
1,2,313,2.202961e+08,68017.770761,"POLYGON ((-73.98520 40.59641, -73.98506 40.595..."
2,3,312,9.952558e+07,52245.811691,"POLYGON ((-73.99181 40.64579, -73.98906 40.644..."
3,4,206,4.266431e+07,35875.710611,"POLYGON ((-73.88120 40.86169, -73.88056 40.861..."
4,5,226,5.056636e+07,32820.284501,"POLYGON ((-73.87876 40.88605, -73.87936 40.885..."

In [15]:
pd.read_sql('select * from tbl_dcp_boroughs', con)

Empty DataFrame
Columns: [boro_coden, boro_codea, boro_name, shape]
Index: []

In [ ]:
localhost